@import "/css/reset.css";
@import "/css/variables.css";

/* Mobile: 375px Desktop: 1440px*/

body {
  box-sizing: border-box;
  font-size: var(--Font-Size);
  font-family: var(--Font-Family);
}

main {
  background-image: url("/images/bg-pattern-desktop.svg");
}

header {
  margin: 2rem 1.5rem;
}

header > img {
  width: 6rem;
}

.landing-page-photo-mobile {
  margin-bottom: 2rem;
}

.landing-page-photo-desktop {
  display: none;
}

.page-heading {
  text-align: center;
  color: var(--Dark-Grayish-Red);
  letter-spacing: 0.75rem;
  font-weight: var(--Font-Weight-L);
  font-size: 2rem;
  line-height: 2rem;
}

.colored-heading {
  font-weight: var(--Font-Weight-S);
  color: var(--Desaturated-Red);
}

.page-info {
  text-align: center;
  margin: 2rem 1rem;
  color: var(--Desaturated-Red);
  line-height: 1.5rem;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.email-input {
  position: relative;
  left: 1.5rem;
  width: 75%;
  padding: 1rem;
  border: 1px var(--Desaturated-Red) solid;
  border-radius: 2rem;
}

.email-input::placeholder {
  color: var(--Desaturated-Red);
}

.email-input:focus {
  outline: none;
}

.submit-email {
  position: relative;
  left: -2.35rem;
  background-image: linear-gradient(var(--Red-Gradient));
  border: none;
  border-radius: 2rem;
  padding: 0.8rem 1.75rem;
}

.incorrect-email {
  border: 2px var(--Soft-Red) solid;
}

.err-icon {
  display: none;
  position: absolute;
  left: 63%;
}

.err-msg {
  display: none;
  color: var(--Soft-Red);
  position: relative;
  left: 4.5rem;
  margin-top: 1rem;
}

footer {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
}

.attribution {
  color: var(--Desaturated-Red);
}

.attribution > a {
  text-decoration: none;
  color: var(--Soft-Red);
}

@media screen and (min-width: 1440px) {
  header {
    margin: 5rem 9rem 0 9rem;
    position: absolute;
  }

  header > img {
    width: 12rem;
  }

  .landing-page-photo-mobile {
    display: none;
  }

  .landing-page-photo-desktop {
    display: inline;
    position: static;
  }

  main {
    display: flex;
  }

  .info {
    margin: calc(2 * 6.5rem) 9rem 0 9rem;
  }

  .info {
    margin-bottom: 0;
  }

  .page-heading,
  .page-info {
    text-align: left;
  }

  .page-heading {
    font-size: 4rem;
    line-height: initial;
  }

  .page-info {
    margin: 3rem 0;
    font-size: 1.25rem;
    line-height: 2.25rem;
  }

  .email-input {
    width: 100%;
    left: 0;
    height: 1.75rem;
  }

  .email-input::placeholder {
    position: relative;
    left: 0.7rem;
    font-size: 1.1rem;
  }

  .err-icon {
    left: 32%;
  }

  .err-msg {
    left: 0;
  }

  .submit-email {
    left: -5rem;
    width: 8rem;
    height: 4rem;
  }

  .submit-email:hover {
    background-image: linear-gradient(var(--White-Gradient));
    box-shadow: 0 10px 10px 3px #0000003a;
  }

  footer {
    position: absolute;
    left: 13rem;
  }
}
